* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

a:visited {
    text-decoration: none;
    color: #E5E7EB;
}

.maincontainer {
    height: 650px;
    padding-left: 250px;
    padding-top: 10px;
    padding-right: 250px;
}

.header-container {
    background-color: #1f2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-nav {
    height: 35px;
    display: flex;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    min-width: fit-content;
}

.header-link-container {
    display: flex;
    justify-content: right;
    gap: 30px;
    width: 100%;
}

.header-link {
    font-size: 18px;
}

.header-banner {
    margin-top: 100px;
    height: 400px;
    display: flex;
}

.header-signup {
    height: 100%;
    width: 50%;
}

.header-signup, h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.header-signup, p {
    font-size: 18px;
    color: #E5E7Eb;
}

.signup-button {
    display: inline-block;
    padding: 6px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 10px;
    background-color: #3882F6;
}

.header-signup .signup-button {
    margin-top: 10px;
}

.header-image {
    width: 50%;
}

.images-container {
    background-color: white;
    padding-top: 20px;
}

.images-container, h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.imageboxes-container {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 70%;
}

.imagebox {
    border-style: solid;
    border-color: #3882F6;
    border-radius: 15px;
    width: 250px;
    height: 250px;
}

.imagebox-container {
    max-width: 250px;
}

.imagebox-subtext {
    font-size: 18px;
    color: #1F2937;
    font-weight: lighter;
}

.quote-container {
    background-color: #E5E7EB;
}

.quote {
    margin-top: 15%;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}

.quotename {
    color: #1F2937;
    font-size: 36px;
    font-weight: bold;
    text-align: right;
}

.signup-container {
    height: 500px;
    padding-top: 150px;
}

.signup-banner {
    background-color: #3882F6;
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding-top: 75px;
    color: #E5E7EB;
}

.signup-text {
    margin-left: 15%;
}

.signup-banner, h4 {
    font-size: 24px;
}

.signup-banner, h5 {
    font-weight: lighter;
    font-size: 18px;
}

.signup-banner .signup-button {
    border-style: solid;
    border-color: #E5E7EB;
    height: fit-content;
    margin-right: 15%;
}

.footer {
    background-color: #1F2937;
    height: 150px;
    color: #E5E7EB;
    font-size: 18px;
    text-align: center;
    padding-top: 63px;
}